{% macro render_paginator paginator %}
<form action="{{ paginator.url|e }}" method="get" class="paginatorform">
<div class="paginator">
{% for arg in paginator.args %}
<input type="hidden" name="{{ arg[0]|e }}" value="{{ arg[1]|e }}">
{% endfor %}
{% if paginator.first_page_link %}
<a href="{{ paginator.first_page_link|e }}">first</a>
{% endif %}
{% if paginator.prev_page_link %}
<a href="{{ paginator.prev_page_link|e }}">previous</a>
{% endif %}
Page <input type="text" name="{{ paginator.query_argument|e }}" size="{{ paginator.page_box_size|e }}" maxlength="{{ paginator.page_box_maxlength|e }}" value="{{ paginator.page_num|e }}"> of {{ paginator.num_pages|e }}
<input type="submit" value="Go">
{% if paginator.next_page_link %}
<a href="{{ paginator.next_page_link|e }}">next</a>
{% endif %}
{% if paginator.last_page_link %}
<a href="{{ paginator.last_page_link|e }}">last</a>
{% endif %}
</div>
</form>
{% endmacro -%}

{% macro render_paginator_in_box paginator, left_aligned %}
<div class="paginatorcontainer{% if left_aligned %}left{% endif %}">
{{ render_paginator(paginator) }}
</div>
{% endmacro -%}