{% extends "layout.html" %}
{% include "pet_tabs.html" %}

{% block title %}Creating a {{ species.name }}{% endblock %}

{% block head -%}
<script type="text/javascript">
var species_id = {{ species.species_id|e }};
var initial_appearance_id = {{ appearance.appearance_id|e }};
</script>
<script src="{{ fc.url('static', fn='pet_create.js')|e }}" type="text/javascript"></script>
{%- endblock %}

{% block tabs render_tabs(pet_tabs, 'pets.species_list') %}

{% block content %}
{{ render_form_header(form) }}
<div id="petpreview">
<div><img src="{{ fc.url('pets.pet_image', species_id=species.species_id, appearance_id=appearance.appearance_id, color=color)|e }}" alt="" id="petpreviewimg"></div>
<div>{{ render_form_field(form.fields['preview']) }}</div> 
</div>
{{ render_form_fields(form, ['form_token', 'pet_name', 'color', 'submit']) }}
</form>
{% endblock %}