{% macro render_field field %}    
    {%- if field.type in ("TextField", "PasswordField", "ColorSelector") -%}
    <input type="{% if field.type == "PasswordField" %}password{% else %}text{% endif %}" {# -#}
           name="{{ field.name|e }}" {% if field.type == "ColorSelector" %}class="color" {% endif -%}
           {%- if field.has_value %}value="{{ field.value|e }}" {% endif -%}
           id="{{ field.id|e }}" {% if field.size != None %}size="{{ field.size|e }}" {% endif -%}
           {% if field.max_length != none %}maxlength="{{ field.max_length|e }}"{% endif %}>
    {%- endif %}
    {%- if field.type == "CheckBox" -%}
    <input type="checkbox" name="{{ field.name|e }}" {% if field.has_value and field.value %}checked="checked" {% endif -%}
           id="{{ field.id|e }}" value="{{ field.raw_value|e }}">
    {%- endif %}
    {%- if field.type == "TextArea" -%}
    <textarea name="{{ field.name|e }}" id="{{ field.id|e }}" rows="{{ field.rows|e }}" cols="{{ field.cols|e }}">{{ field.value|e }}</textarea>
    {%- endif %}
    {%- if field.type == "SelectMenu" -%}
    <select name="{{ field.name|e }}">
    {%- for option in field.options -%}
    <option value="{{ option.value|e }}"{% if option.value == field.value %} selected="selected"{% endif %}>
    {{- option.caption|e -}}
    </option>
    {%- endfor -%}
    </select>
    {%- endif %}
    {%- if field.type == "HiddenField" -%}
    <input type="hidden" name="{{ field.name|e }}" id="{{ field.id|e }}"{% if field.has_value %} value="{{ field.value|e }}"{% endif %}>
    {%- endif %}
    {%- if field.type == "SubmitButton" -%}
    <input type="submit" name="{{ field.name|e }}" id="{{ field.id|e }}" value="{{ field.title|e }}">
    {%- endif %}
{%- endmacro -%}

{% macro render_form_start_tag form -%}
<form action="{{ form.action|e }}" method="{{ form.method|e }}">
{%- endmacro -%}

{% macro render_form form, fields=none -%}
{% if fields == none -%}
{% set fields = form.field_ids %}
{%- endif -%}

{{ render_form_start_tag(form) }}
{% if form.has_errors -%}
<p class="formhaserrors"><strong>Your form submission has errors. Please review and correct them.</strong></p>
{%- endif %}
<div class="formfields">
{% for field_id in fields -%}
{% set field = form.fields[field_id] -%}
<div class="{% if loop.revindex == 1 %}last {% endif %}{{ field.type|e }}{% if field.type == 'HiddenField' and field.error == none %} hidden{% endif %} formfield">
{% if field.type not in ('HiddenField', 'SubmitButton') -%}
<div class="formfieldtitle"><label for="{{ field.id }}">{{ field.title|e }}:</label></div>
{%- endif -%}
<div class="formfieldcontrol">{{ render_field(field) }}</div>
{% if field.error != none -%}
<div class="formfielderror"><em>{{ field.error|e }}</em></div>
{% elif field.description != None -%}
<div class="formfielddesc">{{ field.description|e }}</div>
{%- endif %}
<div class="formclearhack">&nbsp;</div>
</div>
{% endfor -%}
</div>
</form>
{%- endmacro -%}