{% extends "layout.html" %}
{% include "group_tabs.html" %}

{% block title "Group list" %}

{% block tabs render_tabs(group_tabs) %}

{% block content %}
<div class="sortform">
    {{ render_form_start_tag(sort_form) }}
    <label for="{{ sort_form.fields.order.full_id }}">Sort by:</label>
    {{ render_form_field(sort_form.fields.order) }}
    {{ render_form_field(sort_form.fields.submit) }}
    </form>
</div>

{% if groups %}
<table class="normal">
    <thead>
        <tr>
            <th>Group</th>
            <th>Type</th>
            <th>Members</th>
            <th>Owner</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        {% set acceptable_type = group.can_coexist_with(max_group_type) -%}
        <tr>
            <td class="groupgroupcol dedicatedtolink">
                <h3><a href="{{ fc.url('groups.group', group_id=group.group_id)|e }}">{{ group.name|e }}</a></h3>
                {{ group.rendered_description }}
            </td>
            <td class="grouptypecol">
                {%- if acceptable_type %}<strong>{% endif -%}
                {{ group.type_name|e }}
                {%- if acceptable_type %}</strong>{% endif -%}
            </td>
            <td class="groupmemberscol">{{ group.member_count|e }}</td>
            <td class="groupownercol dedicatedtolink"><a href="{{ fc.url('profile', username=group.owner.unformatted_username) }}">{{ group.owner.username|e }}</a></td>
            <td class="groupcreatedcol">{{ group.created|datetime|e }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No groups found.</p>
{% endif %}

{{ render_paginator_in_box(paginator) }}
{% endblock %}