{% extends "layout.html" %}
{% include "group_menu.html" %}
{% block title %}{{ group.type_name }}: {{ group.name|e }}{% endblock %}
{% block content %}
{% if is_member %}
{{ group_menu(group) }}
{% endif %}
<table class="labels">
    <tbody>
        <tr>
            <th>Owner:</th>
            <td class="dedicatedtolink"><a href="{{ fc.url('profile', username=group.owner.unformatted_username)|e }}">{{ group.owner.username|e }}</a></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{{ group.created|datetime|e }}</td>
        </tr>
        <tr>
            <th>Members:</th>
            <td>{{ group.member_count|e }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ group.rendered_description }}</td>
        </tr>
    </tbody>
</table>

{%- if join_form != none %}
{{ render_form(join_form) }}
{%- endif %}

{% endblock %}