{% extends "layout.html" %}
{% block title "Groups" %}

{% block content %}
<p>You can join and form groups with other users here. Groups have many fun features available to their members, including their own private forums. There are three types of groups:</p>

<ul>
    <li><strong>Clubs</strong>, whose members can join guilds and other clubs.</li>
    <li><strong>Guilds</strong>, whose members can join clubs, but not other guilds.</li>
    <li><strong>Cults</strong>, whose members can be in no other group.</li>
</ul>
{% endblock %}