{% extends "layout.html" %}
{% include "group_menu.html" %}
{% block title %}Members of {{ group.name|e }}{% endblock %}
{% block content %}
{{ group_menu(group) }}
<table class="normal" id="groupmembers">
    <thead>
        <tr>
            <th>Member</th>
            <th>Role</th>
            <th>Joined</th>
        </tr>
    </thead>
    <tbody>
        {%- for member in members %}
        <tr>
            <td class="dedicatedtolink"><a href="{{ fc.url('profile', username=member.user.baseusername)|e }}">{{ member.user.username|e }}</a></td>
            <td>
                {{- member.group_role.name|e }}
                {%- if member.user == group.owner -%}
                <strong> (owner)</strong>
                {%- endif -%}
            </td>
            <td>{{ member.joined|datetime|e }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{{ render_paginator_in_box(paginator) }}
{% endblock %}