{% extends "layout.html" %}

{% block title "Inbox" %}

{% block head %}
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss/mail.rss">
{% endblock %}

{% block content %}
<p>Here's your inbox.{% if can_send %} Would you like to <a href="/mail/send">send a message</a>?{% endif %}</p>

{% if not conversations %}
<p><strong>You don't have any mail.</strong></p>
{% else %}
{% if can_delete %}
<form action="/mail/delete" method="post">
<div>
<input type="hidden" name="form_token" value="{{ form_token|e }}">
<input type="hidden" name="page" value="{{ paginator.page_num|e }}">
</div>
{% endif %}
<table class="normal mailtable">
<thead>
<tr>
{% if can_delete %}<th class="maildelcolumn">Del</th>{% endif %}
<th class="maildelcolumn">Subject</th>
<th class="mailwithcolumn">With</th>
</tr>
</thead>
<tbody>
{% for conversation in conversations %}
<tr{% if conversation.new %} class="newmail"{% endif %}>
{% if can_delete %}<td class="maildelcolumn"><input type="checkbox" name="del" value="{{ conversation.id|e }}"></td>{% endif %}
<td class="mailsubjectcolumn">{% if conversation.new %}<strong>{% endif %}<a href="{{ conversation.link|e }}">{{ conversation.subject|e }}</a>{% if conversation.new %}</strong>{% endif %}</td>
<td class="mailwithcolumn">
{% if conversation.other_participants == none %}
<em>system-generated</em>
{% else %}
{% for participant in conversation.other_participants %}{%
if not loop.first %}, {% endif %}<a href="{{ participant.link|e }}">{{ participant.username|e }}</a>
{% endfor %}
{% endif %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if can_delete %}
<p><input type="submit" value="Delete checked"></p>
</form>
{% endif %}
{{ render_paginator_in_box(paginator, True) }}
{% endif %}
{% endblock %}
