<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>{% filter e|capture('title') %}{% block title "" %}{% endfilter %} on {{ fc.site_name|e }}</title>
        <link rel="stylesheet" media="screen,projection" type="text/css"
              href="/static/style.css">
        <script src="/static/MochiKit.js" type="text/javascript"></script>
        <script src="/static/global.js" type="text/javascript"></script>
        <script src="/static/colorselector.js" type="text/javascript"></script>
        <!--[if lt IE 7]>
        <script type="text/javascript">IE7_PNG_SUFFIX = "";</script>
        <script src="/static/ie7-standard-p.js" type="text/javascript"></script>
        <script defer type="text/javascript" src="/static/pngfix.js"></script>
        <![endif]-->
        {% block head "" %}
    </head>
    <body>
        <div id="header">
            <h1><img src="/static/logo.png" alt="{{ fc.site_name|e }}"></h1>

            <div id="logininfo">
                {% if fc.username == none -%}
                <div>Not logged in.</div>
                <div><a href="/login">Log in</a> or <a href="/register">Register</a></div>
                {%- else -%}
                <div>Logged in as <a href="/users/{{ fc.unformatted_username|e }}">{{ fc.username|e }}</a>{% if fc.subaccount_name != none %} ({{ fc.subaccount_name|e }}){% endif %}, &curren;{{ fc.money|intformat|e }}</div>
                <div><a href="/logout">Log out</a>, <a href="/editprofile">preferences</a></div>
                {%- endif %}
            </div>

            <div class="clearhack">&nbsp;</div>
        </div>
        <ul id="nav">
            <li><a href="/">Home</a></li
            ><li>{% if fc.new_mail %}<strong>{% endif %}<a href="/mail">Mail</a>{% if fc.new_mail %}</strong>{% endif %}</li
        ></ul>
        <div id="main">
            <h2 id="contenttitle">{{ title }}</h2>
            <div id="content">
                {% block content "" %}
            </div>
        </div>
    </body>
</html>
