{% macro render_paginator paginator %}
<form action="{{ paginator.path|e }}" method="get" class="paginatorform">
<div class="paginator">
{% for arg in paginator.args %}
<input type="hidden" name="{{ arg[0]|e }}" value="{{ arg[1]|e }}">
{% endfor %}
{% if paginator.page > 1 %}
<a href="{{ paginator.page_url(1)|e }}">first</a>
<a href="{{ paginator.page_url(paginator.page-1)|e }}">previous</a>
{% endif %}
Page <input type="text" name="{{ paginator.paginator.argument|e }}" size="{{ paginator.page_count|length }}" maxlength="{{paginator.page_count|length }}" value="{{ paginator.page|e }}"> of {{ paginator.page_count|e }}
<input type="submit" value="Go">
{% if paginator.page < paginator.page_count %}
<a href="{{ paginator.page_url(paginator.page+1)|e }}">next</a>
<a href="{{ paginator.page_url(paginator.page_count)|e }}">last</a>
{% endif %}
</div>
</form>
{% endmacro -%}

{% macro render_paginator_in_box paginator, left_aligned %}
<div class="paginatorcontainer{% if left_aligned %}left{% endif %}">
{{ render_paginator(paginator) }}
</div>
{% endmacro -%}