{% extends "layout.html" %}
{% include "pet_tabs.html" %}
{% block title "Pets" %}
{% block tabs render_tabs(pet_tabs) %}
{% block content %}
{% if created -%}
<p class="formsuccessful">Pet created.</p>
{%- endif %}

{% if not pets %}
<p>You don't have any pets.</p>
{% else %}
<table class="petlist">
    {% for pet in pets -%}
    <tr class="{% if loop.last %}last{% endif %}">
        <td class="petlist_petimage"><img src="{{ fc.url('pets.pet_image', species_id=pet.species.species_id, appearance_id=pet.appearance.appearance_id, color=pet.color) }}" alt=""></td>
        <td class="petlist_petinfo">
            <h3>{{ pet.name|e }}</h3>
            <div><strong>Species:</strong> {{ pet.species.name|e }}</div>
            <div><strong>Appearance:</strong> {{ pet.appearance.name|e }}</div>
            <div><strong>Color:</strong> {{ "#%02X%02X%02X"|format(pet.color[0], pet.color[1], pet.color[2]) }}</div>
        </td>
    </tr>
    {% endfor -%}
</table>
{% endif %}
{% endblock %}