{% extends "layout.html" %}
{% include "mail_tabs.html" %}
{% block title "Send mail" %}
{% block head %}
<script src="{{ fc.url('static', fn='mailsend.js')|e }}" type="text/javascript"></script>
{% endblock %}
{% block tabs render_tabs(mail_tabs) %}
{% block content %}
<div id="premailmessagecontainer">
{% if user %}
<div class="premailmessage"><h3>{{ user.username|e }} says:</h3>{{ user.rendered_pre_mail_message }}</div>
{% endif %}
</div>

{% if preview != none %}
<div class="preview">
<h3 class="previewtitle">Preview</h3>
{{ preview }}
</div>
{% endif %}

{{ render_form(form) }}
{% endblock %}
