{% extends "layout.html" %}
{% include "form.html" %}
{% block title "Send mail" %}
{% block head %}
<script src="/static/mailsend.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div id="premailmessagecontainer">
{% if pre_mail_message %}
<div class="premailmessage"><h3>{{ username|e }} says:</h3>{{ pre_mail_message }}</div>
{% endif %}
</div>

{% if preview != none %}
<div class="preview">
<h3 class="previewtitle">Preview</h3>
{{ preview }}
</div>
{% endif %}

{{ render_form(form) }}
{% endblock %}
