{% extends "layout.html" %}
{% include "pet_tabs.html" %}
{% block title "Creating a pet" %}
{% block tabs render_tabs(pet_tabs) %}
{% block content %}
<p>Please choose a species:</p>
<table class="petlist">
    {% for item in items -%}
    {% set link = fc.url('pets.create_pet', species_id=item.species.species_id) -%}
    {% set image = fc.url('pets.pet_image', species_id=item.species.species_id, appearance_id=item.appearance.appearance_id, color=item.color) -%}
    <tr class="{% if loop.last %}last{% endif %}">
        <td class="petlist_petimage"><a href="{{ link|e }}"><img src="{{ image|e }}" alt=""></a></td>
        <td class="petlist_petinfo">
            <h3><a href="{{ link|e }}">{{ item.species.name|e }}</a></h3>
        </td>
    </tr>
    {% endfor -%}
</table>
{% endblock %}