body {
     background: #D3DEFF;
     margin: 0;
     padding: 0;
}
#header {
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 1em;
    background: url(headbg.png) white repeat-x bottom;
    min-height: 67px;
}
#header h1 {
    margin: 0;
    padding: 0;
    float: left;
}
#header img {
    display: block;
}
#main {
    margin-left: 12.5em;
}
#content {
    background: white;
    border: 1px solid #CCC;
    margin: 0.5em;
    margin-left: 0;
    padding: 0.5em;
}
.clearhack {
    clear: both;
    height: 0;
    width: 0;
    font-size: 0.1px;
    line-height: 0.01;
}
#contenttitle {
    margin-top: 0;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    font-size: 1.25em;
    border-bottom: 1px dotted #CCC;
}
#logininfo {
    float: right;
}
a:link, a:visited {
    color: #4182ff;
    background: transparent;
}
a:hover {
    color: #749ded;
}
#nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0.5em;
    width: 11em;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
#nav li {
    display: block;
    padding: 0;
    margin: 0;
}
#nav a {
    display: block;
    width: 9.75em;
    background: white;
    color: black;
    text-decoration: none;
    padding: 0.25em;
    padding-left: 1em;
    border-bottom: 1px solid #CCC;
}
#nav a:hover, #nav a:focus {
    background: #EEE;
    color: black;
}
.formfieldtitle {
    font-weight: bold;
    margin: 0;
    float: left;
    width: 11em;
    padding-left: 0.5em;
}
.formfieldcontrol, .formfielddesc, .formfielderror {
    display: block;
    margin: 0;
    margin-left: 12em;
}
.formfielddesc, .formfielderror {
    margin-top: 0.1em;
}
.formfielderror em {
    font-style: normal;
    color: red;
}
.formfield {
    padding: 0.5em;
    padding-left: 0;
    border-bottom: 1px solid #CCC;
    clear: left;
}
.formfield.hidden {
    display: none;
}
.formfield.last {
    border-bottom: 0 none;
}
.formhaserrors {
    border: 3px solid red;
    padding: 0.25em;
}
caption {
    font-weight: bold;
    margin-bottom: 0.25em;
    font-size: 1.1em;
}
table.normal {
    border: 1px solid #CCC;
    border-collapse: collapse;
}
table.normal th {
    background: #CAD6F9;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 0.25em 0.5em;
    margin: 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 0 none;
    border-right: 0 none;
}
table.normal td {
    background: white;
    color: black;
    margin: 0;
    padding: 0.25em 0.5em;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 0 none;
    border-right: 0 none;
}
.oddrow, .oddrow td {
    background: #F1F3F7 !important;
    color: black;
}
.hoveredrow, .hoveredrow td {
    background: #DAE1F6 !important;
    color: black;
}
table.labels {
    width: 100%;
}
table.labels th {
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    padding-right: 1em;
}
table.labels td {
    width: 100%;
}
td p {
    margin-top: 0;
}
.maildelcolumn {
    text-align: center;
}
.mailsubjectcolumn {
    width: 100%;
}
.mailwithcolumn {
    white-space: nowrap;
}
.newmail .mailsubjectcolumn {
    font-weight: bold;
}
.formfield textarea {
    width: 96%;
}
.premailmessage {
    text-align: center;
    margin: 0.5em auto;
    width: 50%;
    border: 1px solid #CCC;
    background: #EEE;
    color: black;
    padding: 0 0.5em;
}
.premailmessage h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.premailmessage p {
    text-align: left;
}
.mailmessage {
    margin-bottom: 1.5em;
}
.collapsed.mailmessage {
    margin-bottom: 0.5em;
}
.mailmessageheader {
    background: #CCC url(mailheaderbg.png) repeat-x bottom;
    color: black;
    text-align: center;
    font-size: 0.8em;
    padding: 0.25em 0;
    margin: 0;
}
.collapsed .mailmessagebody {
    display: none;
}
.collapsed .mailmessageheader {
    background: #BBB;
    color: black;
}
.mailmessagebody {
    padding: 0 0.5em;
}
.formsuccessful {
    border: 1px solid #CCC;
    background: #EEE;
    color: black;
    padding: 0.25em;
}
.paginatorcontainer, .paginatorcontainerleft {
    border: 1px solid #CCC;
    background: #EEE;
    color: black;
    padding: 0.25em;
    margin: 1em 0;
    width: 25em;
    text-align: center;
}
.paginatorcontainer {
    margin: 1em auto;
}
.paginatorform {
    margin: 0;
    padding: 0;
}
blockquote {
    margin: 0;
    padding: 0;
    margin-left: 1em;
    border-left: 3px solid #BBB;
    padding-left: 0.5em;
}
blockquote blockquote {
    margin-left: 0.25em;
}
li > p {
    padding: 0;
    margin: 0;
    margin-top: 1em;
}
li > p:first-child {
    margin-top: 0;
}
/* \*/
* html #content {height: 1%;}
/* */
.preview {
    border: 1px solid #CCC;
    background: #EEE;
    padding: 0.25em;
    margin: 0.5em 0;
}
.previewtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.25em;
}
.formclearhack {
    clear: left;
    height: 0;
    width: 0;
    font-size: 0.1px;
    line-height: 0.01;
}
#petpreview {
    background: white;
    text-align: center;
    float: right;
}
.petlist {
    padding: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
.petlist td {
    vertical-align: top;
    padding: 0.5em 0;
    margin: 0;
    border-bottom: 1px solid #CCC;
}
.petlist tr {
    padding: 0;
    margin: 0;
}
.petlist tr.last {
    border-bottom: 0 none;
}
.petlist tr.last td {
    border-bottom: 0 none;
    padding-bottom: 0;
}
.petlist_petimage {
    width: 1px;
}
.petlist_petimage img {
    display: block;
}
.petlist_petinfo {
    padding-left: 0.5em !important;
}
.petlist_petinfo h3 {
    font-size: 1.5em;
    padding: 0;
    margin: 0 0 0.5em 0;
}
.tabs {
    margin: 0;
    padding: 0;
    text-align: center;
}
.tabs li {
    line-height: 1;
    display: inline;
    padding: 0;
    margin: 0;
}
.tabs li a {
    padding: 0 0.5em;
    background: white;
    color: black;
    text-decoration: none;
    border: 1px solid #CCC;
    border-right: 0 none;
}
.tabs li a:hover {
    background: #EEE;
}
.tabs li.active {
    font-weight: bold;
}
.tabs li.last a {
    border-right: 1px solid #CCC;
}
img {
    border: 0 none;
}
#secondarynav {
    float: right;
    border-left: 1px dotted #CCC;
    padding-left: 0.5em;
width: 10em;
}
#yourgroups {
    float: right;
    width: 15em;
}
.sortform {
    text-align: right;
}
.groupgroupcol {
    width: 100%;
}
.groupcreatedcol, .groupownercol {
    white-space: nowrap;
}
#yourgroups .groupnamecol {
    width: 100%;
}
.groupmenu {
    float: right;
    margin: 0.25em;
    width: 11em;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
.groupmenu h3 {
    margin: 0;
    padding: 0.1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    background: #CAD6F9;
    color: black;
    border-bottom: 1px solid #CCC;
}
.groupmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.groupmenu li {
    display: block;
    padding: 0;
    margin: 0;
}
.groupmenu a {
    display: block;
    padding: 0.25em;
    padding-left: 1em;
    width: 9.75em;
    border-bottom: 1px solid #CCC;
    color: black;
    text-decoration: none;
}
.groupmenu a:hover, .groupmenu a:focus {
    background: #EEE;
    color: black;
}
#groupmembers {
    width: 100%;
}