body {
     background: #D3DEFF;
     margin: 0;
     padding: 0;
}
#header {
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 1em;
    background: url(/static/headbg.png) white repeat-x bottom;
    min-height: 67px;
}
#header h1 {
    margin: 0;
    padding: 0;
    float: left;
}
#header img {
    display: block;
}
#main {
    margin-left: 12.5em;
}
#content {
    background: white;
    border: 1px solid #CCC;
    margin: 0.5em;
    margin-left: 0;
    padding: 0.5em;
}
#header .clearhack {
    clear: both;
    height: 0;
    width: 0;
    font-size: 0.1px;
    line-height: 0.01;
}
#contenttitle {
    margin-top: 0;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    font-size: 1.25em;
    border-bottom: 1px dotted #CCC;
}
#logininfo {
    float: right;
}
a {
    color: #4182ff;
    background: transparent;
}
#nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0.5em;
    width: 11em;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
#nav li {
    display: block;
    padding: 0;
    margin: 0;
}
#nav a {
    display: block;
    width: 9.75em;
    background: white;
    color: black;
    text-decoration: none;
    padding: 0.25em;
    padding-left: 1em;
    border-bottom: 1px solid #CCC;
}
#nav a:hover, #nav a:focus {
    background: #EEE;
    color: black;
}
.formfieldtitle {
    font-weight: bold;
    margin: 0;
    float: left;
    width: 11em;
    padding-left: 0.5em;
}
.formfieldcontrol, .formfielddesc, .formfielderror {
    display: block;
    margin: 0;
    margin-left: 12em;
}
.formfielddesc, .formfielderror {
    margin-top: 0.1em;
}
.formfielderror em {
    font-style: normal;
    color: red;
}
.formfield {
    padding: 0.5em;
    padding-left: 0;
    border-bottom: 1px solid #CCC;
    clear: left;
}
.formfield.hidden {
    display: none;
}
.formfield.last {
    border-bottom: 0 none;
}
.formhaserrors {
    border: 3px solid red;
    padding: 0.25em;
}
table {
    border: 2px groove #7F7F7F;
    border-collapse: collapse;
}
th {
    background: #CAD6F9;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 0.1em;
    margin: 0;
    border: 2px ridge #7F7F7F;
}
td {
    background: white;
    color: black;
    padding: 0.1em;
    margin: 0;
    border: 2px ridge #7F7F7F;
}
.formfield textarea {
    width: 96%;
}
.premailmessage {
    text-align: center;
    margin: 0.5em auto;
    width: 50%;
    border: 1px solid #CCC;
    background: #EEE;
    color: black;
    padding: 0 0.5em;
}
.premailmessage h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.premailmessage p {
    text-align: left;
}
.mailmessage {
    margin-bottom: 1.5em;
}
.collapsed.mailmessage {
    margin-bottom: 0.5em;
}
.mailmessageheader {
    background: #CCC url(/static/mailheaderbg.png) repeat-x bottom;
    color: black;
    text-align: center;
    font-size: 0.8em;
    padding: 0.25em 0;
    margin: 0;
}
.collapsed .mailmessagebody {
    display: none;
}
.collapsed .mailmessageheader {
    background: #BBB;
    color: black;
}
.mailmessagebody {
    padding: 0 0.5em;
}
.formsuccessful {
    border: 1px solid #CCC;
    background: #EEE;
    color: black;
    padding: 0.25em;
}
.paginatorcontainer, .paginatorcontainerleft {
    border: 1px solid #CCC;
    background: #EEE;
    color: black;
    padding: 0.25em;
    margin: 1em 0;
    width: 25em;
    text-align: center;
}
.paginatorcontainer {
    margin: 1em auto;
}
.subjectcell {
    padding: 0;
}
.subjectcell a {
    display: block;
    padding: 0.1em;
}
.subjectcell a:hover {
    background: #EEE;
    color: #4182ff;
}
.newsubjectcell a:hover {
    background: #CCC;
    color: #4182ff;
}
.newsubjectcell  {
    background: #DDD;
    color: black;
}
.paginatorform {
    margin: 0;
    padding: 0;
}
blockquote {
    margin: 0;
    padding: 0;
    margin-left: 1em;
    border-left: 3px solid #BBB;
    padding-left: 0.5em;
}
blockquote blockquote {
    margin-left: 0.25em;
}
li > p {
    padding: 0;
    margin: 0;
    margin-top: 1em;
}
li > p:first-child {
    margin-top: 0;
}
/* \*/
* html #content {height: 1%;}
/* */
.preview {
    border: 1px solid #CCC;
    background: #EEE;
    padding: 0.25em;
    margin: 0.5em 0;
}
.previewtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.25em;
}
.formclearhack {
    clear: left;
    height: 0;
    width: 0;
    font-size: 0.1px;
    line-height: 0.01;
}
